{% extends "base.html" %}
  {% load static %}
    {%block title%}Traiteurs{%endblock%}
    {%block content%}
    <section>
       
          <div class="div-principale">
            <div class="image" style="  
                 background: url('{{le_traiteur.image}}');
                 background-size: cover;
   
                 width: 1200px;
                 height: 300px;
                 position: relative;
                 background-position: center;
                 margin-left: 40px;
                 border-radius: 10px;
                 margin-top: 20px;"

 >"
                
               
                   <p class="badge">⭐0.0/5
                      <a class="verifie"><i class="fa-regular fa-circle-check"></i>verifié</a></p>
            </div>
            <div class="presentation-1">
              
                  <div class="texte-renseignements">
                    <p class="p-titles">A propos</p>
                     <p class="description">{{le_traiteur.description}}</p>
                  </div>
                  <div class="specialitees">
                    <p class="p-titles">Spécialités</p>
        
                
                    <p > <span>{{le_traiteur.specialite}}</span> <span>{{le_traiteur.specialite}}</span></p>
                  </div>
                 
                  
                  <div class="services-proposees">
                    
                       <p class="p-titles">Services</p>
                        <div class="colonnes">
                           <div class="col1">
                               <p><i class="fa-solid fa-check"></i>Mariage</p>
                               <p><i class="fa-solid fa-check"></i>Cocktails</p>
                           </div>
                           <div class="col2">
                               <p> <i class="fa-solid fa-check"></i>Anniversaire</p>
                               <p><i class="fa-solid fa-check"></i>Cuisine sur mesure</p>
                           </div>
                        </div>
                  </div>

     

            </div>
       
            <div class="presentation-2">
                <div class="contacts">
                    <p class="p-titles">Contacts</p>
                   <p> <i class="fa-solid fa-location-dot"></i>{{le_traiteur.adresse}}</p>
                     <p><i class="fa-solid fa-phone"></i>{{le_traiteur.telephone}}</p>
                    <p> <i class="fa-solid fa-envelope"></i>{{le_traiteur.email}}</p>
                </div>
                <div class="experience">
                    <p class="p-titles">Experience</p>
                   <p><i class="fa-solid fa-calendar"></i>{{le_traiteur.date_creation}} </p>
                </div>
                <div class="langues">
                     <p class="p-titles">Langues parlées</p>
                     <p > <span>{{le_traiteur.specialite}}</span> <span>{{le_traiteur.specialite}}</span> <span>{{le_traiteur.specialite}}</span></p>
                     
                </div>
                <div class="btn-contacter">
                    <button><i class="fa-solid fa-phone"></i>Contacter</button>
                </div>
            </div>

        </div>

      
</section>
{%endblock%}